<div class="form-group row">
  <label for="example-text-input" class="col-md-2 col-form-label">Nombre</label>
  <div class="col-md-10">
    <input class="form-control" type="text" value="{{ usuario.fullName}}" name="fullName" id="fullName" required>
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-md-2 col-form-label">Correo</label>
  <div class="col-md-10">
    <input class="form-control" type="email" value="{{ usuario.email}}" name="email" id="email" required>
  </div>
</div>
<div class="form-group row">
  <input class="form-control" type="hidden" value="{{ usuario.id }}" name="id_user" id="id_user">
  <input class="form-control" type="hidden" value="{{ raction }}" name="raction" id="raction">
  <input class="form-control" type="hidden" value="{{ path('user_edit',{id:usuario.id}) }}" name="path" id="path">
</div>